<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!--Use for connect string-->
		<add key="ConnectionName" value="Data Source=.; Initial Catalog=Inventory; Integrated Security=true;" />
		<!--<add key="AdminEMail" value="MyEMailAddress" />-->
	</appSettings>
</configuration>