<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Solution" value="D:\\WORK\\Projects" />

    <add key="Inventory" value="\\Inventory\\bin\Debug\\Inventory.exe" />
    <add key="Notice" value="\\Notice\\bin\Debug\\Notice.exe" />
  </appSettings>
</configuration>